{% extends 'base.html' %}

{% block content %}

<h1>Hello faram <br>{{user.first_name}} !!!</h1>

{{msg}}


<form action="form1" method="POST">
    {% csrf_token %}

    {{ form.as_p }}

    <input type="submit"><br>

    <a href="{{link}}">Go to atulcoin GitHub</a>


    {% if user.is_authenticated %}
    <li>Hello, {{user.first_name}}</li>
    <a href="logout">logout</a><br>
    <a href="vidb">viewdatabase0</a><br>
    <a href="/">home</a><br>
    {% else %}
    <a href="app2/singup">singupnisha</a><br>
    <a href="app2/login">loginnish</a><br>
    
    

    {% endif %}
{% endblock %}