
{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<h1>Hello {{user.first_name}}<br>{{name}} !!!</h1>

    {% csrf_token %}
    
    
    <a href="{{link}}">Go to atulcoin GitHub</a><br>
    
    <a href="app2/logout">logout</a><br><br>
    
    
    <a href="app2/vidb">view your custom data base for CRUD</a><br>

    <a href="app2/recomdation"> view your movie recomdation based on movie you watched</a><br>


    <a href="app2/form1">data base update your custom form</a><br>
    {% else %}
    <h1> Plz login or singup to view your movie recomdation </h1>
    <a href="app2/singup">singup</a><br>
    <a href="app2/login">login</a><br>

    {% endif %}
{% endblock %}